body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none !important;
  color: #252525 !important;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatarNav{
  height: 50px;
  border-radius: 25px;
  margin: 0px 0px 0px 5px;
  float: right;
}

.poll {
  padding: 10px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.answeredpoll{
  padding: 20px;
  box-shadow: 10px 10px 20px rgba(0.2, 0.2, 0.2, 0.2);
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(85, 84, 88, 0.342);
}

.name{
  font-size: 30px;
  padding-top: 15px;
  padding-left: 30px;
  color: #585656;
}


select{
	padding: 5px;
	width: 500px;
	outline-color: #2d5379a1;
}

.inputField{
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: solid black 1px;
  border-radius: 30px;
  outline: none;
}

.title{
  font-size: 20px;
}

.content{
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

.choice{
  font-size: 25px;
  margin-top: 30px;
}

.pageNotFound{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}